//
// サービスのスタイル
//

.about {
     clear: both;
    @media (min-width: 769px) {
   padding-bottom: 5rem;
   display: flex;
    box-sizing: border-box;
    }
}

// 画像(pc左 sp中央)
.about-item {
    width: 100%;
	@media (min-width: 769px) {
    padding-top: 0rem;
    padding-bottom: 0rem;
    float: left;
    box-sizing: border-box;
    text-align: center;
    }
   
}
.about-item-2 {
    width: 100%;
	@media (min-width: 769px) {
	width: 50rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    float: left;
    box-sizing: border-box;
    text-align: center;
    }
   
}
// テキスト(pc右 sp下)
.about-text {
    margin: 0 auto;
    width:95%;
    .about-text2 {
    display: none;
    }
    
    @media (min-width: 769px) {
    width: 100%;
    font-size: 16px;

     
    .about-text1 {
    display: block;
    text-align: left;
    margin-top: 2rem;
    }
    .about-text2 {
    display: block;
    text-align:left;
    }
    }
}
.about-text-2 {
    margin: 0 auto;
    width:95%;
    .about-text2 {
    display: none;
    }
    
    @media (min-width: 769px) {
    width: 50rem;
    padding: 0rem 0rem 0rem 0rem;
    margin: 0px 0 0 55px;
    font-size: 16px;
    
    .about-text1 {
    display: block;
    text-align: left;
    margin-bottom: 20px;
    }
    .about-text2 {
    display: block;
    text-align:left;
    margin-bottom: 20px;
    }
    }
}
// p.about-text1{
//   @media (min-width: 769px) {
//     margin: 0;
//   }
// }
// p.about-text2{
//   @media (min-width: 769px) {
//     margin: 0;
//   }
// }