//
// ベースのスタイル
//


// 変数
$base: #ffffff;
$sub1: #222222;
$sub2: #777777;
$accent1: #b19833;
$accent2: #ebd47a;
$black: #000000;


// ベーススタイル
html {
    font-size: 62.5%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.75;
    color: $black;
    background-color: $base;
    @media (min-width: 769px) {
        font-size: 1.6rem;
    }
}

a {
    color: $black;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}