/*カルーセル*/


/*スライド数のドットの色を変える*/
// .carousel {
//     display:relative;
//     z-index: 1;
//     top: 50px;
//     align-items: center;
//     justify-content: center;
//     flex-direction: column;
//     height: 30rem;
//     padding-top: 6rem;
//     color: $base;
//     background-size: cover;
//     background-position: center;
//     @media (min-width: 769px) {
//         height: 30rem;
//     }
// }

//SPでは非表示
.carousel-pc {
    display: none;
}
@media (min-width: 769px) {
    //PCでは表示する
    .carousel-pc{
      display: block;
    }
}

//PCでは非表示
.carousel-sp {
    display: none;
}
@media (max-width: 769px) {
    //spでは表示する
    .carousel-sp{
      display: block;
    }
}

.slick-dots
{
    bottom: 25px;
}

.slick-dots li.slick-active button:before {
	color: $accent1;
}
.slick-dots li button:before {
    color: #ffffff;
}
