//
// コンテナのスタイル
//
.container {
    @media  (min-width: 769px) {
    max-width: 100%;
    padding: 0 5rem 0 5rem;
}
}
.container-2colum {
    @media  (min-width: 769px) {
    max-width: 100%;
    padding: 0 5rem 0 5rem;
}
}
.container-old {
    clear:both;
    display: flex;
    flex-wrap: wrap;
    // max-width: 112rem;
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
    @media  (min-width: 769px) {
     flex-direction: row;
     width:100%;
     
}
}
.container-old-2 {
    clear:both;
    display: flex;
    flex-wrap: wrap;
    // max-width: 112rem;
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
    @media  (min-width: 769px) {
     flex-direction: row;
     width:100%;
     padding-top: 5rem;
      padding-bottom: 5rem;
}
}
.container-2 {
    @media  (min-width: 769px) {
    padding: 0 3rem 0 3rem;;
}
}
.container2-old {
    clear:both;
    display: flex;
    flex-wrap: wrap;
    // max-width: 112rem;
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
    @media  (min-width: 769px) {
     flex-direction: row-reverse;
    padding: 0;
    margin: 0;
    }
}

.img-wide1 {
    display:relative;
    margin:0 calc(50% - 50vw);
    overflow: hidden;
    @media  (min-width: 769px) {
    display: inline-block;
    width: 100%;
    margin: 1rem 0rem 0rem 0rem;

    }
}
.img-wide2 {
    display:relative;
    margin:0 calc(50% - 50vw);
    overflow:hidden;
    @media  (min-width: 769px) {
    float:right;
    width: 100%;
    margin: 1rem 0rem 0rem 0rem;
    }
}