//
// コンテナのスタイル
//
.container {
    @media  (min-width: 769px) {
    max-width: 100%;
    margin: 0 12rem 0 12rem;
    clear: both;
}
}

.container-about {
    @media  (min-width: 769px) {
    max-width: 100%;
    margin: 0 0rem 0 0rem;
    clear: both;
}
}
.container-2colum {
    padding-top: 4rem;
    @media  (min-width: 769px) {
    max-width: 100%;
    margin: 0 9rem 0 9rem;
        padding-top: 0rem;
}
}
.container-old {
    clear:both;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
    @media  (min-width: 769px) {
    padding: 0;
    margin: 0;
    width: 740px;
}
}
// ABOUT
.container-old-2 {
    clear:both;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
    @media  (min-width: 769px) {
     flex-direction: row;
    width: 740px;
     padding: 0;
     
}
}
.container-2 {
    @media  (min-width: 769px) {
    padding: 0 3rem 0 3rem;;
}
}
// MENU
.container2-old {
    clear:both;
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
    @media  (min-width: 769px) {
    text-align: center;
    padding: 0;
    margin: 0;
    flex-direction: row-reverse;
    width: 740px;
    }
}

.img-wide1 {
    display:relative;
    margin:0 calc(50% - 50vw);
    overflow: hidden;
    @media  (min-width: 769px) {
    display: inline-block;
    margin: 0rem 0rem 0rem 0rem;

    }
}
.img-wide2 {
    display:relative;
    margin:0 calc(50% - 50vw);
    overflow:hidden;
    @media  (min-width: 769px) {
    float:right;
    margin: 0rem 0rem 0rem 0rem;
    }
}