//
// カバーのスタイル
//


// トップページカバー
.cover {
    display:relative;
    z-index: 1;
    top: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: $base;
    background-size: cover;
    background-position: center;
    @media (min-width: 769px) {
        height: 760px;
        box-sizing: border-box;
    }
}

.cover-title {
    position: absolute;
      top: 45%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    z-index: 2;
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    @media (min-width: 769px) {
        font-size: 5rem;
        margin-top: 8rem;
        position: absolute;
          top: 25%;
          left: 50%;
          font-size: 80px;
    }
}

.cover-discription {
        position: absolute;
        top: 48%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        z-index: 3;
        text-align: center;
        font-weight: 700;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 24px;
    @media (min-width: 769px) {
        font-size: 3rem;
        position: absolute;
        top: 45%;
        left: 50%;
        font-size: 48px;
        }
}


// 下層ページカバー
.sub-cover {
    display:relative;
    z-index: 1;
    top: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 6rem;
    color: $base;
    background-size: cover;
    background-position: center;
    background-image: url("../images/cover/cover_info.jpg");
    height: 15rem;
    
    @media (min-width: 769px) {
        margin-bottom: 100px;
         height: 400px;
        box-sizing: border-box;
    }
}
// 下層ページカバー
.sub-cover-2 {
    display:relative;
    z-index: 1;
    top: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 6rem;
    color: $base;
    background-size: cover;
    background-position: center;
        
    background-image: url("../images/cover/cover_about.jpg");
    height: 15rem;
    
    @media (min-width: 769px) {
         height: 400px;
        box-sizing: border-box;
         margin-bottom: 100px;
    }
}
// 下層ページカバー
.sub-cover-3 {
    display:relative;
    z-index: 1;
    top: 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 6rem;
    color: $base;
    background-size: cover;
    background-position: center;
        
    background-image: url("../images/cover/cover_menu.jpg");
    height: 15rem;
    
    @media (min-width: 769px) {
         height: 400px;
        box-sizing: border-box;
         margin-bottom: 100px;
    }
}

.sub-cover-title {
    position: absolute;
      top: 16%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    z-index: 2;
    width: 100%;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    @media (min-width: 769px) {
        font-size: 72px;
        margin-top: 8rem;
    }
}