//
// ヘッダーのスタイル
//


// ヘッダー
.header {
    top: 0;
    // display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    height: 6rem;
    padding: 1rem 0 0 2rem;
    background-color: $black;
    box-sizing: border-box;
    position: fixed;
    opacity:  0.7;
    @media (min-width: 769px)   {
            height: 5rem;
            opacity:  0.7;
    }
    @media (max-width: 767px) {
         display: flex;
    }
    }

.logo {
    display: inherit;
    margin: 0 0 0 13px;
    @media (min-width: 769px)   {
        float: left;
    }
}

a.logo {
    height: 30px;
    @media (min-width: 769px)   {
        height: 30px;
    }
}
.logo-2 {
    display: black;
    display: inherit;
    margin: 0;
    @media (min-width: 769px)   {
        display: none;
    }
}

a.logo {
    height: 30px;
    @media (min-width: 769px)   {
        height: 30px;
        margin-left: 10rem;
    }
}
// ハンバーガーメニューボタン
.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    font-size: 3.1rem;
    color: $accent1;
    cursor: pointer;
    margin-right: 5px;
    @media (min-width: 769px)  {
        display: none;
    }
}

// SPナビゲーション
.sp-nav {
    position: absolute;
    top: 6rem;
    left: 0;
    display: none;
    z-index: 1000;
    width: 100%;
    padding: 4rem;
    font-size: 2.4rem;
    text-align: center;
    background-color: black;
    border-top: 1px solid $black;
    box-sizing: border-box;
}

.sp-nav-list {
    padding: 0;
    margin: 45px 0 75px 0;
    list-style: none;
    li {
        font-size: 40px;
        font-weight: 700;
        font-family: 'Roboto Condensed', sans-serif;
        margin-bottom: 55px;
        a {
        color: $accent1;
}
    }
}
// PCナビゲーション
.pc-nav {
    display: none;
    @media (min-width: 769px) {
        display: block;
    }
}

.pc-nav-list {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        margin: 0 0 0 0rem;
    }
    @media (min-width: 769px) {
    margin: 0 0 0 870px;
    padding: 0;
    }
}

.pc-nav ul li a{
    text-decoration: none;
    color: $accent1;
    margin: 0 10rem 0 0rem;
    @media (min-width: 769px) {
    text-align: right;
    margin: 0 3rem 0 0rem;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    }
}
.set-width {
 
    @media (min-width: 769px) {
        width: 860px;
    }
}