//
// ヘッダーのスタイル
//


// ヘッダー
.header {
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    width: 100%;
    height: 6rem;
    padding: 0 0 0 2rem;
    background-color: $black;
    box-sizing: border-box;
    @media (min-width: 769px)   {
    padding: 0 3rem 0 10rem;
    }
}


// ハンバーガーメニューボタン
.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    font-size: 3.1rem;
    color: $accent1;
    cursor: pointer;
    @media (min-width: 769px)  {
        display: none;
    }
}

// SPナビゲーション
.sp-nav {
    position: absolute;
    top: 6rem;
    left: 0;
    display: none;
    z-index: 1000;
    width: 100%;
    padding: 4rem;
    font-size: 2.4rem;
    text-align: center;
    background-color: $accent1;
    border-top: 1px solid $black;
    box-sizing: border-box;
}

.sp-nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        margin-bottom: 4rem;

    }
}
// PCナビゲーション
.pc-nav {
    display: none;
    @media (min-width: 769px) {
        display: block;
    }
}

.pc-nav-list {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        margin: 0 0 0 5rem;
    }
}

.pc-nav ul li a{
    text-decoration: none;
    color: $accent1;
    margin: 0 10rem 0 0rem;
}