//
// ヘッダーのスタイル
//


// ヘッダー
.header {
    top: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 4;
    width: 100%;
    height: 6rem;
    background-color: $black;
    box-sizing: border-box;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    @media (min-width: 769px)   {
    height: 5rem;
    padding-top: 10px;
    }
    @media (max-width: 768px) {
         display: flex;
    }
    }
    
.header-inner {
    display: block;
    top: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
    width: 100%;
    height: 6rem;
    padding: 1rem 0 0 0rem;
    background-color: $black;
    box-sizing: border-box;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    padding-left: 10px;
    
    @media (min-width: 769px)   {
    display: none
    }
}

  
.logo {
    display: inherit;
    padding: 0 0 0 0px;
    @media (min-width: 769px)   {
        float: left;
    }
    @media (max-width: 768px) {
     padding: 0 0 0 20px;
     }
     
.logo-about {
    display: inherit;
    padding: 0 0 0 30px;
    @media (min-width: 769px)   {
        float: left;
    }
    @media (max-width: 768px) {
     padding: 0 0 0 25px;
     }
}

a.logo-about {
    @media (max-width: 768px) {
        padding-left: 30px;
    }
}

a.logo {
    height: 30px;
    @media (min-width: 769px)   {
        height: 30px;
        margin-left: 120px;
    }
         @media (max-width: 768px)   {
         margin-left: 15px;
     }
}
}
.logo-2 {
    display: block;
    display: inherit;
    margin: 0;
     margin-left: 20px;
    @media (min-width: 769px)   {
        // display: none;
    }
     @media (max-width: 768px)   {
         margin-left: 20px;
     }

a.logo {
    height: 30px;
    @media (min-width: 769px)   {
        height: 25px;
   
    }
}
}
// ハンバーガーメニューボタン
.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6rem;
    height: 6rem;
    font-size: 3.1rem;
    color: $accent1;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 0px;
    @media (min-width: 769px)  {
        display: none;
    }
       @media (max-width: 768px)   {
          margin-right: 20px;
       }
}

// SPナビゲーション
.sp-nav {
    position: absolute;
    top: 6rem;
    left: 0;
    display: none;
    z-index: 4;
    width: 100%;
    padding: 3rem;
    font-size: 2.4rem;
    text-align: center;
    background-color: black;
    border-top: 1px solid $black;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, .9);
}

.sp-nav-list {
    padding: 0;
    margin: 40px 0 0px 0;
    list-style: none;
    li {
        font-size: 40px;
        font-weight: 700;
        font-family: 'Roboto Condensed', sans-serif;
        margin-bottom: 55px;
        a {
        color: $accent1;
}
    }
}
// PCナビゲーション
.pc-nav {
    display: none;
    @media (min-width: 769px) {
        display: block;
    }
}

.pc-nav-list {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    li {
        margin: 0 0 0 0rem;
    }
    @media (min-width: 769px) {
     max-width: 1080px;
    //  margin-left: auto;
    //  margin-right: auto;
    padding: 0;
    }
}

.pc-nav ul li a{
    text-decoration: none;
    color: $accent1;
    margin: 0 4rem 0 0rem;
    @media (min-width: 769px) {
    text-align: right;
    margin: 0 3 0 3rem;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    }
}
.set-width {
 
    @media (min-width: 769px) {
        max-width: 1080px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
    }
}