//
// 2カラムのスタイル
//

.left{
      @media (min-width: 769px) {
    width: 80%;
}
}

.right-title {
    display:none;

    @media (min-width: 769px) {
    display:block;
    // float: left;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin: 3rem 0rem 3rem 3rem;
    font-size: 3rem;
    }
}

.right {

      @media (min-width: 769px) {
          width: 20%;
}
}

.right h2 {
       @media (min-width: 769px) {
       font-size: 2rem;
}
}

.categories {
    display:none;
    padding-left: 3rem;
    
    @media (min-width: 769px) {
    display:block;
    li {
    list-style: none;
    margin-left: 0rem;
    }
}
}

.categories a {
    @media (min-width: 769px) {
        color: $accent1;
        // float: left;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1;
        margin: 1rem 0rem 1rem 0rem;
}
}

    
    .li-last {
        padding-bottom: 3rem;
    }