//
// サービスのスタイル
//

// メニューセクション全体(中央)
.menu {
    clear: both;
    width: 100%;
    @media (min-width: 769px) {
    padding-bottom: 5rem;
    display: flex;
    box-sizing: border-box;
    max-width: 1080px;
    margin: 0 auto;
    }
}

// 画像群(pc右 sp中央)
.menu-item {
    width: 100%;
	@media (min-width: 769px) {
    padding-top: 0rem;
    padding-bottom: 0rem;
    float: left;
    box-sizing: border-box;
         width: 730px;
    }
   
}
// 画像群(pc右 sp中央)
.menu-item-2 {
    width: 100%;
	@media (min-width: 769px) {
// 	width: 50rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    box-sizing: border-box;
     width: 730px;
    max-width: 50rem;
    margin: auto;
     margin-right: 0;
     }
}



// 画像(大) (pc右 sp中央)
.menu-body-1 {
    display:relative;
    margin: 0 calc(50% - 50vw);
    overflow: hidden;
    @media (min-width: 769px) {
    margin: 0;

}
}

// 画像(小)群(pc右 sp中央)
.menu-body-2 {
    display: flex;
	@media (min-width: 769px) {
	justify-content: space-between;
	margin-top: 2rem;
    }
    }

// 画像(小) (pc右 sp中央 横並び)
.menu-body-3 {
    display:inline;
    justify-content: space-between;
    margin: 8px;
    margin-top:0;
	width: 24%;
	@media (min-width: 769px) {
	width: 23%;
	margin: 0rem;
    }
    }
    
  
// テキスト(pc左 sp下)
.menu-text {
    margin: 0 auto;
    .menu-text2 {
    display: none;
    }
    @media (min-width: 769px) {
    width: 46%;
    padding: 0rem 2rem 0rem 2rem;
    .menu-text1 {
        display: block;
        text-align: left;
        margin-top: 2rem;
    }
    .menu-text2 {
    display: block;
    text-align: left;
    }
    }
}
.menu-text-2 {
    margin: 0 auto;
    width:95%;
    .menu-text2 {
    display: none;
    }
    @media (min-width: 769px) {
    width: 46%;
    padding: 0rem 0rem 0rem 0rem;
    margin: 55px 0px 0 0px;
    
    .menu-text1 {
        display: block;
        text-align: left;
        margin-bottom: 20px;
    }
    .menu-text2 {
    display: block;
        text-align: left;
        margin-bottom: 20px;
    }
    }
}

// p.menu-text1{
//   @media (min-width: 769px) {
//     margin: 0;
//   }
// }
// p.menu-text2{
//   @media (min-width: 769px) {
//     margin: 0;
//   }
// }

.menu-table {
         width: 730px;
}

.title-box {
    border: 1px solid;
    margin: 0 auto;
    border-color: $accent1;
    border-top: transparent; 
    border-left: transparent;
    border-right: transparent; 
    @media (min-width: 769px) {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    }
    }
    
.title-box-drink {
    border: 1px solid;
    margin: 0 auto;
    border-color: $accent1;
    border-top: transparent; 
    border-left: transparent;
    border-right: transparent; 
    @media (min-width: 769px) {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 0;
    }
    @media (max-width: 768px) {
        margin-top: 30px;
    }
    }
    
.table-title-eng {
    float: left;
    display: inline-block;
    margin-right: 2rem;
    @media (min-width: 769px) {
        float: none;
        line-height:1em;
     }
}

.table-title-eng-drink {
    float: left;
    display: inline-block;
    margin-right: 2rem;
    @media (min-width: 769px) {
        float: none;
        line-height:1em;
     }
     @media (min-width: 769px) {
    float: none;
    line-height:1em;
    margin-top: 30px;
     }
}

h2.table-title-eng {
    margin-top: 0rem;
    margin-bottom: 0px;
    font-size: 2.2rem;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    @media (min-width: 769px) {
    font-size: 36px;
       }
       
    
}
.table-title-jp {
    display: inline-block;
    color: $accent1;
     @media (min-width: 769px) {
     }
}

p.table-title-jp {
    margin-top: 7px;
    margin-bottom: 5px;
    @media (min-width: 769px) {
        margin: 0;
     }
}
.table-1 {
    display: block;
    width: 100%;
    padding-bottom: 5rem;
    @media (min-width: 769px) {
    }
}

// ドリンク
.menu-1 {
    display:flex;
    width: 100%;
    justify-content: space-between;
     margin: 2rem 4rem 1rem 0rem;
    @media (min-width: 769px) {   
    border-bottom: solid #777 thin;
     margin: 2rem 0rem 1rem 0rem;
     padding-bottom: 1rem;
     }
}

.menu-2 {
    display:flex;
    width: 100%;
    justify-content: space-between;
     margin: 0 4 0 0rem;
    @media (min-width: 769px) {
     margin: 2rem 0 1rem 4rem;
     border-bottom: solid #777 thin;
    }

}
.menu-2-1 {
    float:left;
    @media (min-width: 769px) {
    }
}
.menu-1and2 {
    @media (min-width: 769px) {
      display:flex;
      width: 100%;
      justify-content: space-between;
    }
}

.menu-3 {
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin: 1rem 4rem 1rem 0rem;
    @media (min-width: 769px) {
    margin: 1rem 0rem 1rem 0rem;
   padding-bottom: 1rem;
    }
}

.menu-4 {
    display:flex;
    width: 100%;
    justify-content: space-between;
     margin: 0 4 0 0rem;
    @media (min-width: 769px) {
    margin: 1rem 0 1rem 4rem;
    }

}
.menu-4-1 {
    float:left;
    @media (min-width: 769px) {
    }
}
.menu-3and4 {
    @media (min-width: 769px) {
      display:flex;
      width: 100%;
    justify-content: space-between;
    }
}

// パン
.menu-5 {
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin: 1rem 4rem 1rem 0rem;
     @media (min-width: 769px) {   
    border-bottom: solid #777 thin;
    margin: 2rem 0rem 1rem 0rem;
    padding-bottom: 1rem;
     }
     
}

.menu-6 {
    display:flex;
    width: 100%;
    justify-content: space-between;
     margin: 0 4 0 0rem;
    @media (min-width: 769px) {
     margin: 2rem 0 1rem 4rem;
     border-bottom: solid #777 thin;
    }

}
.menu-6-1 {
    float:left;
    @media (min-width: 769px) {
    }
}
.menu-5and6 {
    @media (min-width: 769px) {
      display:flex;
      width: 100%;
    justify-content: space-between;
    }
}

.menu-7 {
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin: 1rem 4rem 1rem 0rem;
    @media (min-width: 769px) {
    margin: 1rem 0rem 1rem 0rem;
    padding-bottom: 1rem;
    }
}

.menu-8 {
    display:flex;
    width: 100%;
    justify-content: space-between;
     margin: 0 4 0 0rem;
    @media (min-width: 769px) {
    margin: 1rem 0 1rem 4rem;
    }

}
.menu-8-1 {
    float:left;
    @media (min-width: 769px) {
    }
}
.menu-7and8 {
    @media (min-width: 769px) {
      display:flex;
      width: 100%;
    justify-content: space-between;
    }
}


// パスタ
.menu-9 {
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin: 1rem 4rem 1rem 0rem;
    @media (min-width: 769px) {   
    border-bottom: solid #777 thin;
    margin: 2rem 0rem 1rem 0rem;
    padding-bottom: 1rem;
     }
     
}

.menu-10 {
    display:flex;
    width: 100%;
    justify-content: space-between;
     margin: 0 4 0 0rem;
    @media (min-width: 769px) {
    margin: 2rem 0 1rem 4rem;
    border-bottom: solid #777 thin;
    }

}
.menu-10-1 {
    float:left;
    @media (min-width: 769px) {
    }
}
.menu-9and10 {
    @media (min-width: 769px) {
      display:flex;
      width: 100%;
    justify-content: space-between;
    }
}

.menu-11 {
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin: 1rem 4rem 1rem 0rem;
    @media (min-width: 769px) {
    margin: 1rem 0rem 1rem 0rem;
    padding-bottom: 1rem;
    }
}

.menu-12 {
    display:flex;
    width: 100%;
    justify-content: space-between;
     margin: 0 4 0 0rem;
    @media (min-width: 769px) {
    margin: 1rem 0 1rem 4rem;
    }

}
.menu-12-1 {
    float:left;
    @media (min-width: 769px) {
    }
}
.menu-11and12 {
    @media (min-width: 769px) {
      display:flex;
      width: 100%;
    justify-content: space-between;
    }
}


// スイーツ
.menu-13 {
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin: 1rem 4rem 1rem 0rem;
     @media (min-width: 769px) {   
    border-bottom: solid #777 thin;
    margin: 2rem 0rem 1rem 0rem;
    padding-bottom: 1rem;
     }
     
}

.menu-14 {
    display:flex;
    width: 100%;
    justify-content: space-between;
     margin: 0 4 0 0rem;
    @media (min-width: 769px) {
     margin: 1rem 0 1rem 4rem;
     border-bottom: solid #777 thin;
    }

}
.menu-14-1 {
    float:left;
    @media (min-width: 769px) {
    }
}
.menu-13and14 {
    @media (min-width: 769px) {
      display:flex;
      width: 100%;
    justify-content: space-between;
    }
}
.menu-15 {
    display:flex;
    width: 100%;
    justify-content: space-between;
    margin: 1rem 4rem 1rem 0rem;
    @media (min-width: 769px) {
    margin: 1rem 0rem 1rem 0rem;
    padding-bottom: 1rem;
    }
}

.menu-16 {
    display:flex;
    width: 100%;
    justify-content: space-between;
     margin: 0 4 0 0rem;
    @media (min-width: 769px) {
    margin: 1rem 0 1rem 4rem;
    }

}
.menu-16-1 {
    float:left;
    @media (min-width: 769px) {
    }
}
.menu-15and16 {
    @media (min-width: 769px) {
      display:flex;
      width: 100%;
    justify-content: space-between;
    }
}

img {
    @media (min-width: 769px) {
  max-width: 100%;
  height: auto;
  
    }
}

// .menu-item-2 {
//      @media (min-width: 769px) {
//   max-width: 50rem;
//   margin: auto;
//      }
// }



// 画像(大) (pc右 sp中央)
// .menu-body-1 {
//     display:relative;
//     margin: 0 calc(50% - 50vw);
//     overflow: hidden;
//     @media (min-width: 769px) {
//     margin: 0;

// }
// }

.menu-body-2 {
    @media (min-width: 769px) {
    // display: flex;
    padding: 0;
    list-style: none;
     }
}
.menu-body-2 li{
    display:inline;
    justify-content: space-between;
    margin-top: 15px;
    // margin-left: 7.5px;
    margin-right: 7.5px;
    @media (min-width: 769px) {
    width: calc(100% / 3);
    cursor: pointer;
    width: 24%;
    margin-left: 0;
    }
}

ul#menu-body-2.menu-body-2 {
    margin: 0 8px 30px 0;
    padding: 0;
    @media (min-width: 769px) {
    margin: 0 0 45px 0;
    }
    @media (max-width: 768px) {
    margin: 0 0px 0px 0;
    }
}

.menu-body-2 li:last-child {
    margin-right: 0;
}

// パンスライドショー

// 画像(大) (pc右 sp中央)
.menu-body-bread-1 {
    display:relative;
    margin: 0 calc(50% - 50vw);
    overflow: hidden;
    @media (min-width: 769px) {
    margin: 0;
    }
}
.menu-body-bread-2 {
    display: flex;
    @media (min-width: 769px) {
    display: flex;
    padding: 0;
    list-style: none;
     }
}
.menu-body-bread-2 li{
    display:inline;
    justify-content: space-between;
    margin-top: 15px;
    // margin-left: 7.5px;
    margin-right: 7.5px;
    width: calc(100% / 4);
     @media (min-width: 769px) {
    width: calc(100% / 3);
    cursor: pointer;
    width: 24.5%;
    }
    }
    
ul#menu-body-bread-2.menu-body-bread-2 {
    margin: 0 0 30px 0;
    padding: 0;
    @media (min-width: 769px) {
    margin: 0 0 45px 0;
  }
}

.menu-body-bread-2 li:last-child {
    margin-right: 0;
}

.menu-body-bread-2 li:first-child {
    margin-left: 0;
}

// パスタスライドショー

// 画像(大) (pc右 sp中央)
.menu-body-pasta-1 {
    display:relative;
    margin: 0 calc(50% - 50vw);
    overflow: hidden;
    @media (min-width: 769px) {
    margin: 0;
    }
}
.menu-body-pasta-2 {
    display: flex;
    @media (min-width: 769px) {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    justify-content: space-between;
    }
}
.menu-body-pasta-2 li{
    display:inline;
    justify-content: space-between;
    margin-top: 15px;
    // margin-left: 7.5px;
    margin-right: 7.5px;
    @media (min-width: 769px) {
    width: calc(100% / 3);
    cursor: pointer;
    width: 24%;
    margin-left: 0;
    }
}
    
ul#menu-body-pasta-2.menu-body-pasta-2 {
    margin: 0 0 30px 0;
    padding:0;
    @media (min-width: 769px) {
    margin: 0 0 45px 0;
    }
}
.menu-body-pasta-2 li:last-child {
    margin-right: 0;
}

//スイーツ スライドショー

// 画像(大) (pc右 sp中央)
.menu-body-sweets-1 {
    display:relative;
    margin: 0 calc(50% - 50vw);
    overflow: hidden;
    @media (min-width: 769px) {
    margin: 0;
    }
}
.menu-body-sweets-2 {
     display: flex;
    @media (min-width: 769px) {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    justify-content: space-between;
    }
}
.menu-body-sweets-2 li{
    display:inline;
    justify-content: space-between;
    margin-top: 15px;
    // margin-left: 7.5px;
    margin-right: 7.5px;
    @media (min-width: 769px) {
    width: calc(100% / 3);
    cursor: pointer;
    width: 24%;
    margin-left: 0;
    }
}
    
ul#menu-body-sweets-2.menu-body-sweets-2 {
    margin: 0 0 30px 0;
    padding:0;
    @media (min-width: 769px) {
    margin: 0 0 45px 0;
    }
}
.menu-body-sweets-2 li:last-child {
    margin-right: 0;
}