//
// ショップ情報のスタイル
//
.shop {
    @media (min-width: 769px) {
        text-align: left;
    }
}
.shop-2 {
    @media (min-width: 769px) {
        float: left;
        text-align: left;
        border-top: solid #777 thin;
        margin-top: 3rem;
    }
}
.shop-bg {
    padding: 3rem 3rem 3rem;
    font-size: 1.4rem;
    background-color: $accent1;
}

.shop-bg-2 {
    padding: 3rem 3rem 3rem;
    font-size: 1.4rem;
    background-color: $base;
}
.shop-logo {
    clear:both;
    margin-bottom: 3.5rem;
    align-items: left;
    @media (min-width: 769px) {
    margin-bottom: 4rem;
    text-align: center;
    }
}

.box {
    border: 1px solid;
    margin: 0 auto;
    width: 250px;
    color: $accent2;
    border-left: transparent;
    border-right: transparent; 
    @media (min-width: 769px) {
    display: flex;
    margin-bottom: 4rem;
    width: 500px;
    }
    }
    
.box-2 {
    border: 1px solid;
    margin:0 auto;
    width: 250px;
    color: $base;
    border-left: transparent;
    border-right: transparent; 
    @media (min-width: 769px) {
    display: flex;
    margin-bottom: 4rem;
    width: 500px;
    }
    }
    
.box-3 {
    width: 100%;
    padding-left: 10rem;
    box-sizing: border-box;
    @media (min-width: 769px) {
    display: flex;
    margin-bottom: 4rem;
    width: 40%;
    padding-left: 0rem;
    font-size: 1.5rem;
    }
    }
    
    
.shop_inline-block1 {
    margin: 1rem 1rem 0 5rem;
    color: #ffffff;
    float: left;
    @media (min-width: 769px) {
        margin-left: 50px;
        margin: 1rem 2rem 1rem 6rem;
    }
    }
    
.shop_inline-block2 {
    margin: 1rem 0 0 4rem;
    color: #ffffff;
    @media (min-width: 769px) {
    float: left;
    margin: 1rem 4rem 1rem 0;
    }
}
.shop_inline-block3 {
    margin: 0 1rem 1rem 5rem;
    color: #ffffff;
    float:left;
    @media (min-width: 769px) {
    float: left;
    margin: 1rem 2rem 1rem 0;
    }
    }
    
.shop_inline-block4 {
    margin: 0 0 1rem 4rem;
    color: #ffffff;
    @media (min-width: 769px) {
    float: left;
    margin: 1rem 0 1rem 0;
    }
}

.shop_inline-block1-2 {
//  position: absolute;
    float: left;
    color: black;
    display: flex;
    @media (min-width: 769px) {
        margin-left: 50px;
        margin: 1rem 1rem 1rem 3rem;
    }
    }
    
    
.shop_inline-block2-2 {
    margin: 1rem 0 0 4rem;
    color: black;
    @media (min-width: 769px) {
    float: right;
    margin: 1rem 2rem 1rem 0;
    }
}
.shop_inline-block3-2 {
    margin: 0 1rem 1rem 0rem;
    float: left;
    color: black;
    @media (min-width: 769px) {
    float: left;
    margin: 1rem 1rem 1rem 0;
    }
    }
    
.shop_inline-block4-2 {
    margin: 0 0 1rem 4rem;
    color: black;
    @media (min-width: 769px) {
    float: left;
    margin: 1rem 0 1rem 0;
    }
}

.shop-info {
    color:#ffffff;
    
    .shop-info1 {
     display:block;
     text-align:left;
     margin-top: 2rem;
     float: left;
    }
    .shop-info2 {
    display: none;
    }
    @media (min-width: 769px) {
    .shop-info1 {
     display: none;
    }
    .shop-info2 {
    display: block;
    text-align: center;
    }

}
}

.shop-info-2 {
    color: black;
   
    
    .shop-info1 {
     display: block;
     text-align:left;
     margin-top: 1rem;
     padding-left: 3rem;
     float: left;
    }
    .shop-info2 {
    display: none;
    }
    @media (min-width: 769px) {
    .shop-info1 {
     display: none;
    }
    .shop-info2 {
    display: block;
    text-align: center;
    }

}
}
.shop-info-3 {
    color: black;
    padding-left: 3rem;
    @media (min-width: 769px) {
    display: block;
    padding-left: 3rem;
    }
}


#google_map {
     width: 100%;
     height: 250px;
     @media (min-width: 769px) {
     width: 100%;
     height: 500px;
    }
}