//
// SNSのスタイル
//

.sns {
    text-align: right;
    padding: 0;
    list-style: none;
    @media (min-width: 769px) {
        text-align: center;
    }
    li {
        display: inline-block;
        text-align: center;
        margin-top: 1.5rem;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        color: $accent2;
        background-color: #ffffff;
        border-radius: 50%;
        &:first-child {
            margin-right: 1rem;
        }
         &:last-child {
            margin-left: 1rem;
        }
        @media (min-width: 769px) {
        text-align: center;
        width: 5rem;
        height: 5rem;
        font-size: 2.7rem;
        }
    }

    a {
        color: $accent1;
    }
}

.sns-2 {
    text-align: right;
    padding: 1rem;
    list-style: none;
    @media (min-width: 769px) {
        padding-left: 0;
        text-align: left;
    }
    li {
        display: inline-block;
        text-align: center;
        margin-top: 1.5rem;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        background-color: $accent1;
        border-radius: 50%;
        &:first-child {
            margin-right: 1rem;
        }
         &:last-child {
            margin-left: 1rem;
        }
        @media (min-width: 769px) {
        text-align: center;
        width: 5rem;
        height: 5rem;
        font-size: 2.7rem;
        }
    }

    a {
        color: $base;
    }
}
.sns-item-2 {
    @media (min-width: 769px) {
    width: 80%;
}
}