//
// SNSのスタイル
//

.sns {
    text-align: right;
    padding: 0;
    list-style: none;
    @media (min-width: 769px) {
        text-align: center;
        
    }
    li {
        display: inline-block;
        text-align: center;
        margin-top: 1.5rem;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        color: $accent2;
        background-color: #ffffff;
        border-radius: 50%;
        &:first-child {
            margin-right: 1rem;
        }
         &:last-child {
            margin-left: 1rem;
        }
        @media (min-width: 769px) {
        text-align: center;
        width: 5rem;
        height: 5rem;
        font-size: 2.7rem;
        }
    }

    a {
        color: $accent1;
    }
}

.sns-2 {
    text-align: right;
    margin: 0 20px 0px 0;
    list-style: none;
    float: right;
    @media (min-width: 769px) {
        padding-left: 0;
        text-align: left;
    }
    li {
        display: inline-block;
        text-align: center;
        margin-top: 1.5rem;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        background-color: $accent1;
        border-radius: 50%;
        &:first-child {
            margin-right: 1rem;
        }
         &:last-child {
            margin-left: 1rem;
        }
        @media (min-width: 769px) {
        text-align: center;
        width: 35px;
        height: 35px;
        font-size: 20px;
        }
    }

    a {
        color: $base;
    }
}

.sns-3 {
    text-align: right;
    padding: 0;
    margin: 15px 0 0 0;
    list-style: none;
    @media (min-width: 769px) {
        text-align: center;
    }
    li {
        display: inline-block;
        text-align: center;
        margin-top: 0;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        color: $accent2;
        background-color: #ffffff;
        border-radius: 50%;
        &:first-child {
            margin-right: 0.5rem;
        }
         &:last-child {
            margin-left: 0.5rem;
        }
        // @media (min-width: 769px) {
        // text-align: center;
        // width: 5rem;
        // height: 5rem;
        // font-size: 2.7rem;
        // }
    }

    a {
        color: $accent1;
    }
}

.sns-item-2 {
    margin: 0 30px 45px 30px;
    
    @media (min-width: 769px) {
    margin-bottom: 110px;
    width: 260px;
    margin: 0px 0px 45px 0px;
}
}